
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-image: url(/recados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
}
form{
    padding-left: 100px;
    border-collapse: collapse;

}

label{
    color: #0e0a0a;
}

.btns{
    position: relative;
    right: 5px;
    top: 46px;
    display: flex;
    justify-content: end;
    padding: 20px;
    margin-left: 92%;
}
.msgBtn:hover{
    border-color: #5656e5;
    background-color: #5656e5;
    color: #ffffff
}

.save{
    border-radius: 10%;
    border-color: #36ba36;
    color: #fff;
    background-color: #36ba36;
}

.save:hover{
    border-radius: 10%;
    border-color: #45b145;
    color: #fff;
    background-color: #45b145;
}
.exit{
    color: #fff;
    background-color: #e33d3d;
}
.exit:hover{
    background-color: #d84848;
    border-color:  #d84848;
}
.mensagem,.descricao{
    margin: 5px;
    width: 500px;
}

table{
    margin: auto;
    width: 80%;
    border-collapse: collapse;

}

thead{
    color: #fff;
}

tbody{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

th,td,tr {
    border: 2px solid black;    
    border-collapse: collapse;
}

.delet{
    position: relative;
    left: 70px;
    color: #fff;
    background-color: #e33d3d;
}
.delet:hover{
    background-color: #d84848;
    border-color:  #d84848;
}

.edit{
    position: relative;
    left: 90px;
    color: #fff;
    background-color:  #5656e5;
}
.edit:hover{
    background-color:  #5b5bb7;
    border-color:  #5656e5;

}
.msgBtn,label,button{
    cursor: pointer;
}
